{% extends "layout.html" %}
{% block content %}
    <h1 align="center">National Institute of Speech and Hearing</h1>
    <p>The National Institute of Speech and Hearing (NISH) is an institute devoted to the education and rehabilitation of individuals with speech-language and hearing impairments located in Thiruvananthapuram, the capital city in the Indian state of Kerala. It was established in 1997 on the initiative of the state of Kerala and is a self-financing affiliate college of the University of Kerala. NISH also runs early intervention programmes for speech, language, and neurodevelopmental disorders. </p><br>
    <p>Its academic courses include Bachelor in Audiology & Speech and Language Pathology, Master in Audiology & Speech and Language Pathology, Bachelor of Science in Computer Science (for the hearing impaired), and Bachelor of Fine Arts (for the hearing impaired).
</p>
<img src="/home/athul/APPLE/flaskblog/static/profile_pics/image.jpg">
{% endblock content %}